ToDo.Web/Connected Services/ServiceReference_TaskLog/Service_TaskLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service_TaskLog" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskLog.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskLog.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskLog.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tasky.Models.Account" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskLog.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskLog.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_TaskLog_GetAllTaskLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaskLog" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_GetAllTaskLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTaskLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_AddNewTaskLog_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTaskLog" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_AddNewTaskLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTaskLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_UpdateTaskLog_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskLog" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_UpdateTaskLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskLogResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_DeleteTaskLog_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskLog" />
  </wsdl:message>
  <wsdl:message name="IService_TaskLog_DeleteTaskLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_TaskLog">
    <wsdl:operation name="GetAllTaskLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskLog/GetAllTaskLog" message="tns:IService_TaskLog_GetAllTaskLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskLog/GetAllTaskLogResponse" message="tns:IService_TaskLog_GetAllTaskLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskLog/AddNewTaskLog" message="tns:IService_TaskLog_AddNewTaskLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskLog/AddNewTaskLogResponse" message="tns:IService_TaskLog_AddNewTaskLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskLog/UpdateTaskLog" message="tns:IService_TaskLog_UpdateTaskLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskLog/UpdateTaskLogResponse" message="tns:IService_TaskLog_UpdateTaskLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskLog/DeleteTaskLog" message="tns:IService_TaskLog_DeleteTaskLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskLog/DeleteTaskLogResponse" message="tns:IService_TaskLog_DeleteTaskLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_TaskLog" type="tns:IService_TaskLog">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTaskLog">
      <soap:operation soapAction="http://tempuri.org/IService_TaskLog/GetAllTaskLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskLog">
      <soap:operation soapAction="http://tempuri.org/IService_TaskLog/AddNewTaskLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskLog">
      <soap:operation soapAction="http://tempuri.org/IService_TaskLog/UpdateTaskLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTaskLog">
      <soap:operation soapAction="http://tempuri.org/IService_TaskLog/DeleteTaskLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_TaskLog">
    <wsdl:port name="BasicHttpBinding_IService_TaskLog" binding="tns:BasicHttpBinding_IService_TaskLog">
      <soap:address location="http://localhost:55511/Service_TaskLog.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>