ToDo.Web/Connected Services/ServiceReference_TaskManager/Service_TaskManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service_TaskManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tasky.Models.Account" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskManager.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" />
      <xsd:import schemaLocation="http://localhost:55511/Service_TaskManager.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_TaskManager_AddNewTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTask" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_AddNewTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_GetAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_GetAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_UpdateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTask" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_UpdateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="IService_TaskManager_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IService_TaskManager">
    <wsdl:operation name="AddNewTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskManager/AddNewTask" message="tns:IService_TaskManager_AddNewTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskManager/AddNewTaskResponse" message="tns:IService_TaskManager_AddNewTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskManager/GetAllTasks" message="tns:IService_TaskManager_GetAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskManager/GetAllTasksResponse" message="tns:IService_TaskManager_GetAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskManager/UpdateTask" message="tns:IService_TaskManager_UpdateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskManager/UpdateTaskResponse" message="tns:IService_TaskManager_UpdateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService_TaskManager/DeleteTask" message="tns:IService_TaskManager_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService_TaskManager/DeleteTaskResponse" message="tns:IService_TaskManager_DeleteTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService_TaskManager" type="tns:IService_TaskManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewTask">
      <soap:operation soapAction="http://tempuri.org/IService_TaskManager/AddNewTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap:operation soapAction="http://tempuri.org/IService_TaskManager/GetAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTask">
      <soap:operation soapAction="http://tempuri.org/IService_TaskManager/UpdateTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/IService_TaskManager/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_TaskManager">
    <wsdl:port name="BasicHttpBinding_IService_TaskManager" binding="tns:BasicHttpBinding_IService_TaskManager">
      <soap:address location="http://localhost:55511/Service_TaskManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>