ToDo.Winform/Connected Services/ServiceReference_TaskLog/Service_TaskLog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55511/Service_TaskLog.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" />
  <xs:element name="GetAllTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" minOccurs="0" name="GetAllTaskLogResult" nillable="true" type="q1:ArrayOfTaskLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" minOccurs="0" name="taskLog" nillable="true" type="q2:TaskLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" minOccurs="0" name="AddNewTaskLogResult" nillable="true" type="q3:TaskLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" minOccurs="0" name="taskLog" nillable="true" type="q4:TaskLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" minOccurs="0" name="UpdateTaskLogResult" nillable="true" type="q5:TaskLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskLogId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTaskLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTaskLogResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>