ToDo.Winform/Connected Services/ServiceReference_TaskManager/Service_TaskManager5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF.ViewMdels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF.ViewMdels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55511/Service_TaskManager.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfTaskVM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskVM" nillable="true" type="tns:TaskVM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskVM" nillable="true" type="tns:ArrayOfTaskVM" />
  <xs:complexType name="TaskVM">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="CreationDate" type="q1:DateTimeOffset" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DoneDate" nillable="true" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsComplete" type="xs:boolean" />
      <xs:element minOccurs="0" name="TaskLogCount" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskVM" nillable="true" type="tns:TaskVM" />
</xs:schema>