ToDo.Web/Connected Services/ServiceReference_Log/Service_Log1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55511/Service_Log.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tasky.Models.Account" />
  <xs:import schemaLocation="http://localhost:55511/Service_Log.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" />
  <xs:element name="NewLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tasky.Models.Account" minOccurs="0" name="loginUser" nillable="true" type="q1:ServiceUserLoginModel" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ToDo.WCF.EF" minOccurs="0" name="log" nillable="true" type="q2:Log" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>